body {
    background-color: rgb(253, 251, 251) ;
}
#cabecalho {
    position: fixed;
    top: 0;
    border: 2px solid black;
    background-color: rgb(45, 216, 45);
    width: 100%;
    text-align: center;
}

#minha_foto {
    width: 300px;
    margin-top: 100px;
}
#rodape {
    margin-top: 10px;
}
#aside {
    float: right;
    width: 50%;
    margin-top: 100px;
    font-size: 20px;
}
#tabela th {
    border: 1px solid black;
}
